---
import Skelet from "../layouts/Skelet.astro";
---
<Skelet title="Side 1" pageTitle="page title for page 1" metaDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet!">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
</Skelet>