---
import Skelet from "../layouts/Skelet.astro";
import Card from "../components/Card.astro";
---
<Skelet title="Side 2">
<section class="liste">
    <Card sund navn="Ole" levested="Byen"/>
    <Card navn="Niels" levested="Landet"/>
    <Card sund navn="Peter" levested="Skoven"/>
    <Card navn="Jytte" levested="Skyen"/>
</section>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
</Skelet>