---
import Skelet from "../layouts/Skelet.astro";
import MadCard from "../components/MadCard.astro";
const url = "https://spabkjddxznsprvkkzuf.supabase.co/rest/v1/mad";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwYWJramRkeHpuc3BydmtrenVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTM4MzMxMzUsImV4cCI6MjAwOTQwOTEzNX0.p8QClExDi-oKBQN9Gnk3nkdEkkwBAEwQVO_EMPpfAZQ"},
};

const response = await fetch(url, options);
const alMad = await response.json();

console.log(alMad);
---
<Skelet title="Side 3">
    <section class="liste">
        {alMad.map(ret=>{
            return <MadCard data={ret}/>
        })
        }
    </section>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, aperiam quas a ex id repellendus quis eveniet! Cupiditate quo non, consectetur, quibusdam dicta pariatur adipisci omnis amet voluptatum praesentium officia.</p>
</Skelet>