---
const {title}=Astro.props;
---
<nav>
    <a href="/" class={title=="Side 1" && "aktiv"}>Side 1</a>
    <a href="side2" class={title=="Side 2" && "aktiv"}>Side 2</a> 
    <a href="side3" class={title=="Side 3" && "aktiv"}>Side 3</a>
</nav>

<style>
    .aktiv{
        background-color: orange;
    }
</style>