body {
  font-family: sans-serif;
}

main {
  max-width: 1000px;
  margin: 5em auto auto;
}
nav {
  background-color: cornflowerblue;
  position: fixed;
  padding: 1em;
  width: 100vw;
  top: 0;
  left: 0;
}
nav a {
  /* display: block; */
  padding: 0.5em;
  text-decoration: none;
  color: white;
}
.liste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
